.form {
  // $input-height: 30px;
  // $inner-spacing: .9em;
  display: flex;
  flex-direction: column;
}

.form__part + .form__part {
margin-top: calc(3*.9em);
}

.form__heading {
  margin: 0 0 .9em;
  color: var(--blue-robbon);
  font-size: 20px;
}

.form__field-wrapper {
margin-top: .9em;
}

.form__icon {
}

.form__label {
  margin-bottom: .9em;
}

.form__input {
  //
}

.form__input::placeholder {
  //
}

.form__input:active,
.form__input:focus {
 //
}

.form__field {

}

.form__field + .form__field {
  //
}

.form__action {
  //
}

  .form__part--flex {
    display: flex;
    flex-direction: column;
    
  }
.form__actions {
  //
}

@media (min-width: 600px) {
  .form__part--flex {
    flex-direction: row;


  }

  .form__part--flex + .form__part--flex {
   //
  }

  .form__field-wrapper {
   
    width: 100%;

  }

  .form__field-wrapper--spaced {
    //
  }

  .form__field-wrapper--spaced + .form__field-wrapper--spaced {
    //
  }

  .form__field {

  }

  .form__field--spaced {
    //
  }

  .form__field--spaced + .form__field--spaced {
   //
  }

  .form__icon {
    width: 30px;
    display: none;
  }

  .form__action {
    //
  }

  .form__actions {
    margin-top: calc(3*.9em);
  }
}

.error {
  position: absolute;
  left: 0;
  bottom: -14px;
  font-size: .7em;
}